body {

    background: -webkit-radial-gradient(circle, #FBEC99, #f3de68);
}
.navbar-inverse .navbar-inner{

    background-image:-webkit-linear-gradient(top, #1A3691, #111)  ;
}
#contenido{

    width: 75%;
    margin: 0 auto 0 auto;
}